# Node build artifacts
node_modules
npm-debug.log

# Local development
data
coverage
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Firebase Key
shophedel-firebase-adminsdk-3nch3-064ccfd700.json